@charset "UTF-8";


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

a{
  display: inline-block;
  text-decoration: none
}

p{
  font-size: 20px;
  font-family: "Raleway";
  line-height: 24px;
}

h2 {
  font-size: 24px;
  font-family: "Raleway";
}

.title .inner p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

body{
  font-family:"Raleway";
  width: 100%;
}

img{
  vertical-align: bottom;
}

.header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: #FFF;
  padding: 15px;
  box-sizing: border-box;
}

.main{
  margin-top: 78px;
  text-align: center;
}

.bolt{
  float: left;
  color: #777;
}

.bolt:hover{
  cursor: pointer;
}

.contact{
  float:right;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #FFF;
}

.portfolio{
  background-color: #f2f2f2;
  padding:60px 0 70px;
}



.works-contents{
  opacity: .7;
  transition-duration:.3s;
}

.works-contents:hover {
  opacity: 1;
}

.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.skills-content{
  margin-top: 70px
}

.skills_text{
  margin-top: 20px
}

.social i{
  font-size: 50px;
  color: #74cfae;
}

.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 0px;
}

.btn-theme {
  color: #ffffff;
  background-color: #74cfae;
  border-color: transparent;
}

.footer{
  padding:20px 0 25px;
  background-color: #74cfae;
}

.footer-text{
  text-align: right;
  font-size: 12px;
  font-family: Lato;
  color:#f2f2f2
}

@media screen and (max-width: 766px){

  h1 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #74cfae;
  }

  .inner{
    width:97%;
    margin: 0 auto;
    /* text-align: center; */
  }
  .contact{
    display: none;
  }

  .nav-drawer{
    /* position:relative; */
    padding:10px;
    border:1px solid #ddd;
    border-radius: 4px;
    float:right;
    margin:8px 0 8px;
    /* vertical-align: middle; */
    /* margin-right:40px; */
  }

  .nav-line{
    /* position: absolute; */
    display:block;
    margin-bottom:3px;
    height: 1px;
    width:16px;
    background-color: #ddd;
  }

  .nav-line:first-child{
    margin-top:0;
  }
  .nav-line:last-child{
    margin-bottom:0;
  }
  .title{
    padding-top: 160px;
    padding-bottom: 130px;
    background-color: #f2f2f2;
  }

  .cando{
    background-color:#74cfae;
    padding: 50px 0 25px;
  }

  .cando-title{
    margin:20px 0 35px;
  }

  .cando-content-right{
    line-height: 24px;
    color:#FFF;
  }

  .manyworks{
    margin:40px 0 80px;
  }

  .works:nth-child(3n){
    margin-bottom: 80px;
  }

  .portfolio-right{
    margin-top:40px;
  }

  .skills-contents{
    margin-top: 88px;
  }
  .skills-contents:first-child{
    margin-top: 0px;
  }

  .social{
    padding:50px 0 50px;
    background-color: #f2f2f2
  }

  .social-content a{
    width: 100%;
    padding:10px;
    transition-duration:.3s;
    box-sizing: border-box
  }

  .social-content a:hover{
    background-color: #fff;
  }
}

@media screen and (min-width: 767px) and (max-width:1199px){

  h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #74cfae;
  }

  .inner{
    width:97%;
    margin: 0 auto;
    /* text-align: center; */
  }

  .title{
    padding-top: 250px;
    padding-bottom: 250px;
    background-color: #f2f2f2;
  }

  .cando{
    background-color:#74cfae;
    padding: 50px 0 25px;
  }

  .cando-title{
    margin:20px 0 35px;
  }

  .cando-content-right{
    line-height: 24px;
    color:#FFF;
  }

  .manyworks{
    margin:40px 0 80px;
  }

  .works:nth-child(3n){
    margin-bottom: 80px;
  }

  .portfolio-right{
    margin-top:40px;
  }

  .portfolio-content{
    margin-top: 80px;
  }

  .skills-contents{
    margin-top: 88px;
  }
  .skills-contents:first-child{
    margin-top: 0px;
  }
  .social .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }

  .social{
    padding:200px 0;
    background-color: #f2f2f2
  }

  .social-content a{
    width: 185px;
    padding:10px;
    transition-duration:.3s;
    box-sizing: border-box
  }

  .social-content a:hover{
    background-color: #fff;
  }
}

@media screen and (min-width: 1200px){


  h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #74cfae;
  }

  .inner{
    max-width:1100px;
    margin: 0 auto;
    /* text-align: center; */
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
  }

  .title{
    padding-top: 250px;
    padding-bottom: 250px;
    background-color: #f2f2f2;
  }

  .cando{
    background-color:#74cfae;
    padding-top: 50px;
    text-align: center;
  }

  .cando-title{
    margin-bottom: 35px;
  }

  .cando-content-left{
    width: 40%;
    font-size: 0;
  }

  .cando-content-right{
    line-height: 24px;
    color:#FFF;
    width: 60%;
    padding-bottom: 50px;
  }

  .works{
    margin-top: 40px;
  }

  .works:nth-child(n+4){
    margin-top: 80px;
  }

  .portfolio-left{
    width:60%;
    color: #333;
  }

  .portfolio-right{
    width: 40%;
  }

  .portfolio-content{
    margin-top: 90px;
  }

  .skills-contents{
    margin-left: 180px;
  }

  .skills-contents:first-child{
    margin-left: 0;
  }

  .social{
    padding:200px 0;
    background-color: #f2f2f2
  }

  .social-content a{
    width: 185px;
    padding:10px;
    transition-duration:.3s;
    box-sizing: border-box
  }

  .social-content a:hover{
    background-color: #fff;
  }
}
