@charset "UTF-8";

@media screen and (max-width: 766px)　{
}
@media screen and (min-width: 1200x)　{
}
@media screen and (min-width: 767px) and (max-width:1199px){
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

a{
  display: inline-block;
  text-decoration: none
}

p{
  font-size: 20px;
  font-family: "Raleway";
  line-height: 24px;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #74cfae;
}

h2 {
  font-size: 24px;
  font-family: "Raleway";
}

body{
  font-family:"Raleway";
}

.header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: #FFF;
  padding: 15px;
}

.main{
  padding-top: 78px;
}

.title .inner p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.inner{
  width:1100px;
  margin: 0 auto;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}

.works:nth-child(-n+3){
  margin: 40px 0 80px;
}

.bolt{
  float: left;
  color: #777;
}

.bolt:hover{
  cursor: pointer;
}

.Contact{
  float:right;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #FFF;
}

.title{
  padding-top: 250px;
  padding-bottom: 250px;
  background-color: #f2f2f2;
}

.article{
  background-color:#74cfae;
  padding-top: 50px;
}

.article-content-left{
  width: 40%;
  font-size: 0;
}

.article-content-right{
  line-height: 24px;
  color:#FFF;
  width: 60%;
  padding-bottom: 50px;
}

.article-title{
  margin-bottom: 35px;
}

.portfolio{
  background-color: #f2f2f2;
  padding:60px 0 70px;
}

.portfolio-content{
  margin-top: 90px;
}

.works a {
  opacity: .7;
  transition-duration:.3s;
}

.works a:hover {
  opacity: 1;
}

.portfolio-left{
  width:60%;
  color: #333;
}

.portfolio-right{
  width: 40%;
}

.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.skills-content{
  margin-top: 70px
}

.skills-contents{
  margin-left: 180px;
}

.skills-contents:first-child{
  margin-left: 0;
}

.skills_text{
  margin-top: 20px
}

.social{
  padding:200px 0;
  background-color: #f2f2f2
}

.social i{
  font-size: 50px;
  color: #74cfae;
}

.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 0px;
}

.btn-theme {
  color: #ffffff;
  background-color: #74cfae;
  border-color: transparent;
}

.social-content a{
  width: 185px;
  padding:10px;
  transition-duration:.3s;
}

.social-content a:hover{
  background-color: #fff;
}

.footer{
  padding:20px 0 25px;
  background-color: #74cfae;
}

.footer-text{
  text-align: right;
  font-size: 12px;
  font-family: Lato;
  color:#f2f2f2
}
